@import "base/mixins.scss";
@import "base/variables.scss";
@import "base/animations";

@import "libs/normalize";
@import "libs/fonts";

@import "blocks/default";
@import "blocks/container";
@import "blocks/button";
@import "blocks/header";
@import "blocks/input";
@import "blocks/heading";
@import "blocks/list";
@import "blocks/link";
@import "blocks/datepicker";

/* // @import 'vue-select/dist/vue-select.css';
// @import 'nouislider/dist/nouislider.css'; */

.p-inputtext,
.p-textarea,
.p-select {
    &.p-filled {
        border-color: $blue;
    }
    &.p-inputwrapper-filled { 
        border-color: $blue;
    }
}

.p-select {
    &-label[aria-disabled="true"] {
        & ~ .p-icon, & ~ .p-select-dropdown {
            opacity: 0;
        }
    }
}