## NEW CODE##
<ifModule mod_headers.c>
    #кэшировать HTML и HTM файлы на один день
    <FilesMatch "\.(html|htm)$">
        Header set Cache-Control "max-age=43200"
    </FilesMatch>
    #кэшировать CSS, JavaScript и текстовые файлы на одну неделю
    <FilesMatch "\.(js|css|txt|woff2)$">
        Header set Cache-Control "max-age=43200"
    </FilesMatch>
    #кэшировать флэш и изображения на месяц
    <FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png)$">
        Header set Cache-Control "max-age=2592000"
    </FilesMatch>
    #отключить кэширование
    <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
        Header unset Cache-Control
    </FilesMatch>
</IfModule>
 
<IfModule mod_setenvif.c>
  BrowserMatch "MSIE" force-no-vary
  BrowserMatch "Mozilla/4.[0-9]{2}" force-no-vary
</IfModule>

## EXPIRES CACHING ##
#<IfModule mod_expires.c>
#ExpiresActive On
#ExpiresByType img/jpg "access 1 day"
#ExpiresByType img/jpeg "access 1 day"
#ExpiresByType img/gif "access 1 day"
#ExpiresByType img/png "access 1 day"
#ExpiresByType css/css "access 1 day"
#ExpiresByType text/html "access 1 day"
#ExpiresByType documents/pdf "access 1 day"
#ExpiresByType js/js "access 1 day"
#ExpiresByType application/x-shockwave-flash "access 1 day"
#ExpiresByType img/x-icon "access 1 day"
#ExpiresDefault "access 1 day"
#</IfModule>
## EXPIRES CACHING ##

RewriteEngine On

RewriteCond %{SERVER_PORT} !^443$

RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]
ErrorDocument 404 https://www.caforward.ru/404.htm