@mixin modal {
    // display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin button {
    padding: 10px 24px;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    transition: background-color .2s;

    &:hover {
        background-color: #f0f0f0;
    }

    &:active {
        background-color: #e6e6e6;
    }
}

@mixin blue-button {
    padding: 10px 24px;
    height: 50px;
    border-radius: 30px;
    color: #fff;
    background-color: $blue;
    transition: background-color .2s;

    &:hover {
        background-color: #028fcc;
    }

    &:active {
        background-color: #0286be;
    }
}

@mixin blue-button-small {
    border-radius: 30px;
    padding: 5px 15px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 187%;
    background-color: $blue;
    color: #fff;
    transition: background-color .2s;

    &:hover {
        background-color: #028fcc;
    }

    &:active {
        background-color: #0286be;
    }
}

@mixin desktop() {
    @media (max-width: 1230px) {
        @content;
    }
}

@mixin laptop() {
    @media (max-width: 1022px) {
        @content;
    }
}

@mixin tablet() {
    @media (max-width: 798px) {
        @content;
    }
}

@mixin mobile() {
    @media (max-width: 606px) {
        @content;
    }
}