$black: #2e2e2e;
$black-accent: #292929;
$black-gray: #4c5866;

$white: #fff;
$white-gray: #f5f5f5;
$white-blue: #ccd8e8;

$blue: #0096d8;
$blue-light: #20afce;
$blue-white: #e7f2fa;

$light-green: #E7F9F8;

$gray: #EAECEE;
$gray-light: #F3F7FA;
$gray-dark:  #989898;
$gray-milk: #E3E6E8;
$gray-white: #F9FAFC;