.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 187%;
    color: $black;
    transition: background-color .4s, color .2s;

    &:hover {
        background-color: $blue;
        color: $white;
    }

    &:active {
        background-color: $white-gray;
        color: $black;
    }

    &_blue {
        color: $white;
        background-color: $blue;
        transition: background-color .2s;

        &:hover {
            background-color: $blue-light;
        }

        &:active {
            background-color: $blue;
            color: #fff;
        }
    }

    &_small {
        padding: 0 15px;
        height: 40px;
    }

    &_icon {
        width: 40px;
        height: 40px;
        padding: 0;
    }
    &__icon {
        display: flex;
        margin-right: 10px;
    }
}

@include desktop {
    .button {
        padding: 0 25px;
        font-size: 14px;
        &_icon {
            padding: 0;
        }
    }
}