@use '../base/mixins.scss' as mixin;
@use '../base/variables.scss' as var;

.button {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 187%;
    color: var.$black;
    transition:
        background-color 0.4s,
        color 0.2s;

    &:hover {
        background-color: var.$blue;
        color: var.$white;
    }

    &:active {
        background-color: var.$white-gray;
        color: var.$black;
    }

    &_blue {
        color: var.$white;
        background-color: var.$blue;
        transition: background-color 0.2s;

        &:hover {
            background-color: var.$blue-light;
        }

        &:active {
            background-color: var.$blue;
            color: #fff;
        }
    }

    &_small {
        padding: 0 15px;
        height: 40px;
    }

    &_icon {
        width: 40px;
        height: 40px;
        padding: 0;
    }
    &__icon {
        display: flex;
        margin-right: 10px;
    }
}

@include mixin.desktop {
    .button {
        padding: 0 25px;
        font-size: 14px;

        &_icon {
            padding: 0;
        }
    }
}
