@use '../base/mixins.scss' as mixin;

.custom-container {
    max-width: 1370px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
}

@include mixin.desktop {
    .custom-container {
        max-width: 1070px;
    }
}

@include mixin.laptop {
    .custom-container {
        padding: 0 25px;
        max-width: 798px;
    }
}

@include mixin.tablet {
    .custom-container {
        max-width: 620px;
        padding: 0 15px;
    }
}

// @include mixin.tablet {
//     .container {
//         max-width: 606px;
//     }
// }