@include desktop {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
}

@include laptop {
    h1 {
        font-size: 26px;
        line-height: 115%;
    }
    h2 {
        font-size: 22px;
    }
}

@include mobile {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }
}