@use '../base/mixins.scss' as mixin;


@include mixin.desktop {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
}

@include mixin.laptop {
    h1 {
        font-size: 26px;
        line-height: 115%;
    }
    h2 {
        font-size: 22px;
    }
}

@include mixin.mobile {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }
}