.input {
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    border-radius: 5px;
    padding: 12px 20px;
}

.checkbox {
    appearance: none;
    background-color: $white;
    width: 30px;
    height: 30px;
    flex: none;
    border-radius: 100%;
    background-image: url('/assets/images/utility/check.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: luminosity;

    &:checked {
        background-blend-mode: normal;
    }
}