@use '../base/variables.scss' as var;

.link {
    color: var.$blue;
    transition: color .2s;

    &:hover {
        color: var.$blue-light;
    }

    &_white {
        color: #fff;

        &:hover {
            color: var.$blue-light;
        }
    }
}