.link {
    color: $blue;
    transition: color .2s;

    &:hover {
        color: $blue-light;
    }

    &_white {
        color: #fff;

        &:hover {
            color: $blue-light;
        }
    }
}