.container {
    max-width: 1370px;
    width: 100%;
    padding: 0 25px;
    margin: 0 auto;
    color: rgb(46, 46, 46);
}

@include desktop {
    .container {
        max-width: 1022px;
        background-color: red;
    }
}

@include laptop {
    .container {
        max-width: 798px;
    }
}

@include tablet {
    .container {
        max-width: 606px;
    }
}

// @include mobile {
//     .container {
//         max-width: 606px;
//     }
// }