name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  schedule:
    # Запуск в 10:00 утра по МСК (07:00 UTC) по понедельникам и четвергам
    - cron: '0 7 * * 1,4'
  workflow_dispatch: # Добавляет кнопку ручного запуска

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn' # GitHub сам закеширует зависимости для скорости

      - name: Install dependencies
        run: yarn install

      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps

      - name: Run Playwright tests
        run: yarn playwright test
